/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	color: white;
}

.foto {
	width: 300px;
}

.hlavicka {
	width: 300px;
	position: relative;
}

.logo {
	position: absolute;
	left: 230px;
	top: 175px;
	background-color: #b92e81;
	border-radius: 50%;
}

.obsah {
	width: 300px;
	padding: 20px;
}

.profil {
	width: 300px;
	background-color: #31363b;
}

.portfolio {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.facebook {
	display: inline-block;
	width: 50%;
	text-align: center;
}
