/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	width: 300px;
}

.foto {
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	
}

.hlavicka {
	width: 300px;
	position: relative;
}

.logo {
	position: absolute;
	left: 230px;
	top: 175px;
	background-color: #b92e81;
	border-radius: 50%;
}

.obsah {
	width: 300px;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

.profil {
	width: 300px;
	background-color: #31363b;
	margin: 50px;
	box-shadow: black 4px 6px 20px;
}

.portfolio {
	display: inline-block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid white;
	text-decoration: none;
}

.facebook {
	display: inline-block;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid white;
	border-right: 1px solid white;
	text-decoration: none;
}

.twitter {
	display: inline-block;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid white;
	text-decoration: none;
}

.odkazy {
	width: 300px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-decoration: none;
}

.portfolio:hover {
	background-color: #e74c3c;
}

.facebook:hover {
	background-color: #3b5998;
}

.twitter:hover {
	background-color: #1da1f2;
}

li {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul {
	padding-left: 0px;
}

a {
	color: white;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}